<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Provo Wellness, We Care!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/icon.png" rel="icon">
  <link href="assets/img/icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nova
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-contact">
  <script>
    function SocialMediaOrNo() 
    {
      let yesnoYes = document.getElementById("yesnoYes");
      let socialMediaCheckboxes = document.querySelectorAll('.SM');
      let noneCheckbox = document.querySelector('input[name="socialMedia"][value="10"]');

      if (yesnoYes.checked) 
      {
        socialMediaCheckboxes.forEach(function(checkbox) {
          checkbox.disabled = false;
        });
        noneCheckbox.checked = false;
        noneCheckbox.disabled = true;
      }
      else 
      {
        socialMediaCheckboxes.forEach(function(checkbox) {
          checkbox.disabled = true;
          checkbox.checked = false;
        });
        noneCheckbox.checked = true;
      }
    } 

    function OrganizationNone()
    {
      let OrgNone = document.getElementById("OrgNone");
      let organizationCheckboxes = document.querySelectorAll('.Org');

      if (OrgNone.checked) 
      {
        organizationCheckboxes.forEach(function(checkbox) {
          checkbox.checked = false;
          checkbox.disabled = true;
        });
        OrgNone.disabled = false;
        OrgNone.checked = true;
      }
      else if (OrgNone.checked === false)
      {
        organizationCheckboxes.forEach(function(checkbox) {
          //checkbox.checked = false;
          checkbox.disabled = false;
        });
      }
    }
  </script>
 <!-- ======= Header ======= -->
 <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">Provo City</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/survey">Survey</a></li>
          <li><a href="/dashboard">Explore Data</a></li>
          <% if (isAuthenticated) { %>
          <li><a href="/edit">Edit Profile</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/results">Results</a></li>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/mountains.jpg');">
          <div class="container position-relative d-flex flex-column align-items-center">
    
            <h2>Survey</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Mental Health & Social Media Survey</li>
            </ol>
    
          </div>
        </div><!-- End Breadcrumbs -->

    <!-- ======= Survey Section ======= -->
    <section id="contact" class="contact">
      <div class="container position-relative"  data-aos="fade-up">

        <div class = "jaden-survey" class="row gy-4 d-flex justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="250">

            <form action="/survey" method="POST" role="form" class="php-email-form" >
              <div class="form-group mt-3" class="jaden-survey">
                <label for="gender">Gender</label>
                <br>
                <select id="gender" name="gender" style="width: 800px" required>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                  <!-- Add more options as needed -->
                </select>
              </div>
              <div class="form-group mt-3" class="jaden-survey">
                <label for="age">Select your age</label>
                <br>
                <select id="age" name="age" style="width: 800px" required>
                <!-- Generating options from 1 to 100 using JavaScript -->
                    <script>
                        for (let i = 1; i <= 100; i++) {
                            document.write(`<option value="${i}">${i}</option>`);
                        }
                    </script>
                </select>
              </div>
              <div class="form-group mt-3" class="jaden-survey">
                <label for="relationship">Current Relationship Status</label>
                <br>
                <select id="relationship" name="relationship" style="width: 800px" required>
                  <option value="Single">Single</option>
                  <option value="In a relationship">In a relationship</option>
                  <option value="Married">Married</option>
                  <option value="Divorced">Divorced</option>
                  <!-- Add more options as needed -->
                </select>
              </div>
              <div class="form-group mt-3" class="jaden-survey">
                <label for="occupation">Occupation Status</label>
                <br>
                <select id="occupation" name="occupation" style="width: 800px" required>
                  <option value="University Student">University Student</option>
                  <option value="High School Student">High School Student</option>
                  <option value="Salaried Worker">Salaried Worker</option>
                  <option value="Retired">Retired</option>
                  <!-- Add more options as needed -->
                </select>
              </div>
              <div class="form-group mt-3" class="jaden-survey">
                <label for="socialMedia">What type of organizations are you affiliated with? </label>
                <br>
                <label>
                    <input class="Org" class = "Random" type="checkbox" name="affiliated" value="1"> University
                  </label>
                <br>
                  <label>
                    <input class="Org" type="checkbox" name="affiliated" value="2"> High School
                  </label>
                <br>
                  <label>
                    <input class="Org" type="checkbox" name="affiliated" value="4"> Company
                  </label>
                <br>
                  <label>
                    <input class="Org" type="checkbox" name="affiliated" value="5"> Government
                  </label>
                <br>
                  <label>
                    <input class="Org" type="checkbox" name="affiliated" value="3"> Private
                  </label>
                <br>
                  <label>
                    <input class="Org" type="checkbox" name="affiliated" value="7"> Other
                  </label>
                <br>
                  <label>
                    <input class="Org" id="OrgNone" type="checkbox" name="affiliated" value="6" onclick="OrganizationNone()"> None
                  </label>
              </div>
              <div class="form-group mt-3" class="jaden-survey">
                <label for="yesno">Do you use social media? </label>
                <br>  
                <label>
                    <input id="yesnoYes" type="radio" name="yesno" value="Yes" required onclick="SocialMediaOrNo()"> Yes
                </label>
               <br>
                <label>
                    <input id="yesnoNo" type="radio" name="yesno" value="No" required onclick="SocialMediaOrNo()"> No
                </label>
              </div> 
              <div class="form-group mt-3" class="jaden-survey">
                <label for="socialMedia" >What Social Media platforms do you use?</label>
                <br>
                <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="5"> Discord
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="1"> Facebook
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="2"> Twitter
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="3"> Instagram
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="4"> Youtube
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="6"> Reddit
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="7"> Pinterest
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="8"> TikTok
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="9"> Snapchat
                  </label>
                  <br>
                  <label>
                    <input class="SM" type="checkbox" name="socialMedia" value="10"> None
                  </label>
              </div>

              <div class="form-group mt-3" class="jaden-survey">

                <label for="timeDuration">How much time do you spend on social media?</label>
                <br>
                <label>
                    <input type="radio" name="timeDuration" value="Less than an Hour" required> Less than an hour
                  </label>
                  <br>
                  <label>
                    <input type="radio" name="timeDuration" value="Between 1 and 2 hours" required> 1-2 hours
                  </label>
                  <br>
                  <label>
                    <input type="radio" name="timeDuration" value="Between 2 and 3 hours" required> 2-3 hours
                  </label>
                  <br>
                  <label>
                    <input type="radio" name="timeDuration" value="Between 3 and 4 hours" required> 3-4 hours
                  </label>
                  <br>
                  <label>
                    <input type="radio" name="timeDuration" value="Between 4 and 5 hours" required> 4-5 hours
                  </label>
                  <br>
                  <label>
                    <input type="radio" name="timeDuration" value="More than 5 hours" required> More than 5 hours
                  </label>
              </div>
              <div class="bottomSurvey" >
                <table class ="jadenTable">
                <tr>
                    <th></th>
                    <th class = "jadenHeader">Strongly Disagree</th>
                    <th class = "jadenHeader">Disagree</th>
                    <th class = "jadenHeader">Neutral</th>
                    <th class = "jadenHeader">Agree</th>
                    <th class = "jadenHeader">Strongly Agree</th>
                </tr>
                  <tr class = "even">
                      <td class = "jadenQuestion">
                          <label>
                            I often find myself using social media without a specific purpose
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q1" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q1" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q1" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q1" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q1" value = '5' required>
                      </td>
                  </tr>
                  <tr class = "odd">
                      <td class = "jadenQuestion">
                          <label>
                            I often get distracted by social media when I am busy doing something
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q2" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q2" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q2" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q2" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q2" value = '5' required>
                      </td>
                  </tr>
                  <tr class = "even">
                      <td class = "jadenQuestion">
                          <label>
                            I feel restless if I haven’t used social media in a while
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q3" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q3" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q3" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q3" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q3" value = '5' required>
                      </td>
                  </tr>
                  <tr class = "odd">
                      <td class = "jadenQuestion">
                          <label>
                            I am easily distracted
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q4" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q4" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q4" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q4" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q4" value = '5' required>
                      </td>
                  </tr>
                  <tr class = "even">
                      <td class = "jadenQuestion">
                          <label>
                            I am bothered by worries often
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q5" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q5" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q5" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q5" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q5" value = '5' required>
                      </td>
                  </tr>
                  <tr class="odd">
                      <td class = "jadenQuestion">
                          <label>
                            I find it difficult to concentrate on things
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q6" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q6" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q6" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q6" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q6" value = '5' required>
                      </td>
                  </tr>
                  <tr class="even">
                      <td class = "jadenQuestion">
                          <label>
                            I often compare myself to other successful people through their use of social media           
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q7" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q7" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q7" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q7" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q7" value = '5' required>
                      </td>
                  </tr class="odd">
                  <tr>
                      <td class = "jadenQuestion">
                          <label>
                            Following the previous statement, I end up feeling negatively about myself with these comparisons
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q8" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q8" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q8" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q8" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q8" value = '5' required>
                      </td>
                  </tr>
                  <tr class="even">
                      <td class = "jadenQuestion">
                          <label>
                            I often seek validation through social media
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q9" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q9" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q9" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q9" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q9" value = '5' required>
                      </td>
                  </tr>
                  <tr class="odd">
                      <td class = "jadenQuestion">
                          <label>
                            I often feel depressed or down
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q10" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q10" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q10" value = '3' required>
                      </td>
          
                      <td class = "jadentd">
                          <input type="radio" name = "q10" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q10" value = '5' required>
                      </td>
                  </tr>
                  <tr class="even">
                      <td class = "jadenQuestion">
                          <label>
                            My interest in daily activities fluctuates frequently
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q11" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q11" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q11" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q11" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q11" value = '5' required>
                      </td>
                  </tr>
                  <tr class="odd">
                      <td class = "jadenQuestion">
                          <label>
                            I often face issues regarding sleep
                          </label>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q12" value = '1' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q12" value = '2' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q12" value = '3' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q12" value = '4' required>
                      </td>
                      <td class = "jadentd">
                          <input type="radio" name = "q12" value = '5' required>
                      </td>
                  </tr>
                </table>
                <br>
                <br>
                <br>
              </div>
              <div class="text-center"><button type="submit">Submit Response</button></div>
            </form>
            <% if (messages.error) { %>
                <p style="color: red;"><%= messages.error %></p>
            <% } else if (messages.success) { %>
                <p style="color: green;"><%= messages.success %></p>
            <% } %>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Nova</span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links d-flex  mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Nova</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">JTECH & Co.</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>